dist: trusty
sudo: false
language: r
cache: packages

env:
  global:
    - _R_CHECK_TESTS_NLINES_=999
    - _R_CHECK_LENGTH_1_CONDITION_=true

r_github_packages:
  - mlr-org/phng

r:
  - 3.2
  - 3.3
  - 3.4
  - devel
